
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
  }
  
  .title {
    font-size: 50px; 
    text-align: center;
    color: #8d0ca7; 
    
     
  }
  
  
  .title:hover {
    color: #560e5f; 
    transition: color 0.5s ease; 
  }

  .form-group{
    padding-left: 200px;
    background-color: brown;
  }
  
  

  