

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
  }
  
  .title {
    font-size: 50px; 
    text-align: center;
    color: #560e5f; 
    
     
  }
  
  
  .title:hover {
    color: #9e7ca5; 
    transition: color 0.1s ease; 
  }

  .form-group{
    padding-left: 200px;
    background-color: rgb(19, 4, 4);
  }

  
  
  

  